<a href="https://colab.research.google.com/github/bkaanulgen/DeCanaria/blob/main/Playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install evds

Collecting evds
  Downloading evds-0.2.0-py3-none-any.whl (7.6 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from evds) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from evds) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->evds) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->evds) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->evds) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->evds) (1.16.0)
Installing collected packages: evds
Successfully installed evds-0.2.0

In [9]:
from evds import evdsAPI
import pandas as pd
import numpy as np
evds = evdsAPI('kvlUQV03Zp')

/usr/local/lib/python3.10/dist-packages/evds/__init__.py:42: FutureWarning: Could not cast to int64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  main_categories_df = pd.DataFrame(main_categories_raw, dtype="int")[["CATEGORY_ID","TOPIC_TITLE_" + self.lang]]

In [4]:
term = '2023-06'

In [5]:
term_year = term[:4]
term_month = term[-2:]
term_end_day = pd.Period('{}-01-{}'.format(term_month, term_year), freq='M').end_time.day

start_date_str = '01-{}-{}'.format(term_month, term_year)
end_date_str = '{}-{}-{}'.format(term_end_day, term_month, term_year)

In [6]:
data_list = ['TP.DK.AUD.A.YTL', 'TP.DK.CAD.A.YTL', 'TP.DK.CHF.A.YTL', 'TP.DK.DKK.A.YTL', 'TP.DK.EUR.A.YTL', 'TP.DK.GBP.A.YTL', 'TP.DK.JPY.A.YTL', 'TP.DK.KWD.A.YTL', 'TP.DK.NOK.A.YTL', 'TP.DK.SAR.A.YTL', 'TP.DK.SEK.A.YTL', 'TP.DK.USD.A.YTL']
df_evds = evds.get_data(data_list, startdate = start_date_str, enddate = end_date_str, aggregation_types='avg', frequency = 5)
df_evds

/usr/local/lib/python3.10/dist-packages/evds/__init__.py:180: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, dtype="float")

,Tarih,TP_DK_AUD_A_YTL,TP_DK_CAD_A_YTL,TP_DK_CHF_A_YTL,TP_DK_DKK_A_YTL,TP_DK_EUR_A_YTL,TP_DK_GBP_A_YTL,TP_DK_JPY_A_YTL,TP_DK_KWD_A_YTL,TP_DK_NOK_A_YTL,TP_DK_SAR_A_YTL,TP_DK_SEK_A_YTL,TP_DK_USD_A_YTL
0,2023-6,15.453368,17.288842,25.512468,3.343184,24.944284,29.023021,16.358647,74.616005,2.125295,6.149463,2.131458,23.064489

In [7]:
df = pd.DataFrame()
df['Döviz'] = data_list
df['Döviz'] = df['Döviz'].apply(lambda x: x[6:9])
df[term] = list(df_evds.iloc[0, 1:])
df = df.sort_values('Döviz').set_index('Döviz')
df

         2023-06
Döviz
AUD    15.453368
CAD    17.288842
CHF    25.512468
DKK     3.343184
EUR    24.944284
GBP    29.023021
JPY    16.358647
KWD    74.616005
NOK     2.125295
SAR     6.149463
SEK     2.131458
USD    23.064489

In [11]:
df['Fix'] = (np.round(df[term] * 1_000_000, -1)).astype(int)
df

         2023-06       Fix
Döviz
AUD    15.453368  15453370
CAD    17.288842  17288840
CHF    25.512468  25512470
DKK     3.343184   3343180
EUR    24.944284  24944280
GBP    29.023021  29023020
JPY    16.358647  16358650
KWD    74.616005  74616010
NOK     2.125295   2125290
SAR     6.149463   6149460
SEK     2.131458   2131460
USD    23.064489  23064490